@page "/materials/orders"

<h3>Material Orders</h3>

@if (_loading)
{
    <Loader />
}

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Creation Date
                </th>
                <th scope="col">
                    Client
                </th>
                <th scope="col">
                    Material
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col" style="width: 10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (_orders != null)
            {
                @foreach (var order in _orders)
                {
                    <tr>
                        <td>@order.CreationDate.ToString("dd/MM/yy")</td>
                        <td>@order.Node.Name</td>
                        <td>@order.Material.Name</td>
                        <td>@order.SpoolQuantity</td>
                        <td>
                            <!--Detai buttons-->
                            <a class="btn btn-outline-secondary" href="@($"{Http.BaseAddress}api/docs/pdf/{order.Id}")" target="_blank">
                                <span class="oi oi-data-transfer-download"></span>
                            </a>

                        </td>
                    </tr>
                   
                }
            }
            else
            {
                <tr>
                    <span class="esyerror">ERROR ACCEDIENDO A LA LISTA DE VALORACIONES</span>
                </tr>
            }
        </tbody>
    </table>
</div>