@page "/properties/management"
<h3>Properties manager</h3>

@if (_loading)
{
    <Loader Center="true" />
}
<!--Sticky bar with search fields-->
<div class="d-flex flex-row cssticky-bar" style="background-color: white; z-index: 500">
    <div class="flex-fill">
        <div class="d-flex flex-row mr-2">
            <div class="flex-fill cslabelheader">Name</div>
            <input class="w-75 form-control cslabelcontent" type="text" placeholder="Buscar por código..."
                   @bind="_filterProperty"
                   @bind:event="oninput" />
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary" @onclick="@(()=> _newProperty = !_newProperty)">Nueva propiedad</button>
    </div>
</div>
@if (_newProperty)
{
    <PropertyCreator />
}
else
{
    <!--Responsive table showing assessments, including interactive table header for sorting-->
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        Nombre
                    </th>
                    <th scope="col">
                        Working temperature
                    </th>
                    <th scope="col" style="width: 10%">Modify</th>
                </tr>
            </thead>
            <tbody>
                @if (_properties != null)
                {
                    @foreach (var prop in _properties)
                    {
                        <tr>
                            <td>@prop.Name</td>
                            <td>@prop.HelpText</td>
                            <td>
                                <button class="btn btn-secondary" @onclick="@(() => _viewingProperty = _viewingProperty==prop.Id? Guid.Empty:prop.Id)">
                                    Details
                                </button>
                                <button class="btn btn-secondary" @onclick="@(()=> Delete(prop))">Delete</button>
                            </td>
                        </tr>
                        @if (_viewingProperty == prop.Id)
                        {
                            <tr>
                                <td colspan="3">
                                    <PropertyCreator Property="prop" />
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <span class="esyerror">ERROR ACCEDIENDO A LA LISTA DE VALORACIONES</span>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

