<div class="col-md-8" style="margin: 0 auto;">

    <EditForm Model="Property" OnSubmit="ApplyChanges">
        <div class="d-flex flex-row">
            <div class="flex-fill">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Property Name</label>
                    <div class="col-sm-10">
                        <InputText disabled="@_disabled" class="@_editingCSS" @bind-Value="Property.Name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Help text</label>
                    <div class="col-sm-10">
                        <InputText disabled="@_disabled" class="@_editingCSS" @bind-Value="Property.HelpText" />
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group row flex-fill">
                        <label class="col-sm-2 col-form-label">Dichotomous variable</label>
                        <div class="col-sm-10">
                            <InputCheckbox disabled="@_disabled" class="@_editingCSS" @bind-Value="Property.IsDichotomous" />
                            <small>La propiedad es de tipo Si/No</small>
                        </div>
                        
                    </div>
                    <div class="form-group row flex-fill">
                        <label class="col-sm-2 col-form-label">Positive variable</label>
                        <div class="col-sm-10">
                            <InputCheckbox disabled="@_disabled" class="@_editingCSS" @bind-Value="Property.MoreIsBetter" />
                            
                            <small>More is better</small>
                        </div>
                    </div>
                </div>


                <div>
                    <div style="margin: 10px 2px">
                        <button class="btn btn-outline-primary" type="button">
                            @(!_editing? "Editar":"Descartar cambios")
                        </button>
                    </div>
                    @if (_editing)
                    {
                        <div>
                            <button class="btn btn-outline-primary" type="submit">Aceptar cambios</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </EditForm>
</div>
